<br />
<h2>Admin Dashboard</h2>

    <%= link_to "Create Course", new_course_path, class: 'btn btn-lg btn-primary' %>

    <%= link_to "Create Quiz", new_quiz_path, class: 'btn btn-lg btn-info' %>

<h5>User attributes</h5>
<table class="table table-bordered">
  <tr>
    <% @user_attributes.each do |attr| %>
      <td>
        <%= attr %>
      </td>
    <% end %>
  </tr>
</table>

<h5>Quiz attributes</h5>
<table class="table table-bordered">
  <tr>
    <% @quiz_attributes.each do |attr| %>
      <td>
        <%= attr %>
      </td>
    <% end %>
  </tr>
</table>

<h5>Question attributes <small class="text-muted"><%= @choice_attributes.to_sentence.html_safe %> may be repeated as many times as necessary</small></h5>
<table class="table table-bordered">
  <tr>
    <% @question_attributes.each do |attr| %>
      <td>
        <%= attr %>
      </td>
    <% end %>
    <% @choice_attributes.each do |attr| %>
      <td>
        <%= attr %>
      </td>
    <% end %>
  </tr>
</table>
