<%= form_with(model: attempt_choice, local: true) do |form| %>
  <% if attempt_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attempt_choice.errors.count, "error") %> prohibited this attempt_choice from being saved:</h2>

      <ul>
      <% attempt_choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :attempt_id %>
    <%= form.text_field :attempt_id, id: :attempt_choice_attempt_id %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, id: :attempt_choice_question_id %>
  </div>

  <div class="field">
    <%= form.label :choice_id %>
    <%= form.text_field :choice_id, id: :attempt_choice_choice_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :attempt_choice_user_id %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id, id: :attempt_choice_team_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
