

  <%= form_with(model: course, local: true) do |form| %>

  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group">
      <label class="col-form-label col-form-label-lg" for="inputLarge"><%= form.label :name %></label>
      <%= form.text_field :name, id: :course_name, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <label class="col-form-label col-form-label-lg" for="inputLarge"><%= form.label :description %></label>
      <%= form.text_area :description, id: :course_description, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-lg' %>
  </div>
  <% end %>
